{% extends 'layout.html' %}

{% block content %}
<!--A partir de aquí, escribe lo que quieras,
obivo en html-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/mainhome.css') }}">
<div class="jumbotron">
    <h1 class="display-4" style="text-align:center">Ohayooooo!!!!</h1>
    <p class="lead" style="text-align:center">Por el momento no hay noticias nuevas, puedes ver todos
        lo que tiene la web en las pestañas de arriba, o puedes leer sobre 
        lo que trata la web :D
    </p>
    <img class="centrado"  width="339" height="275"
    src="http://1.bp.blogspot.com/-_QLgbnHdAjU/UI7TIkKg1kI/AAAAAAAAV-Q/Ztn7GN_9yKA/s640/chuunibyou-demo-koi-ga-shitai-1-takanashi-rikka-finger-twirl1.gif" >
     <img class="center-block" width="339" height="275"
     src="http://1.bp.blogspot.com/-_QLgbnHdAjU/UI7TIkKg1kI/AAAAAAAAV-Q/Ztn7GN_9yKA/s640/chuunibyou-demo-koi-ga-shitai-1-takanashi-rikka-finger-twirl1.gif" alt="Solvetic">
     <img class="centrado" width="339" height="275"
     src="http://1.bp.blogspot.com/-_QLgbnHdAjU/UI7TIkKg1kI/AAAAAAAAV-Q/Ztn7GN_9yKA/s640/chuunibyou-demo-koi-ga-shitai-1-takanashi-rikka-finger-twirl1.gif" >
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4" style="text-align:center">¿De qué es esta pagina?</h1>
      <p class="lead">Buena pregunta te has hecho, pues como ya habras visto en los hipervinculos de arriba,
          o más bien leido, esta pagina tiene 3 secciones principales, <i>Home(Takeshi-Shigeru)</i> que es la parte principal.
          en esta parte me dedicare unicamente a dar noticias sobre lo que pase en la web, principalmente informar sobre
          nuevo contenido, y ya vere que más en el futuro.
      </p>
      <p class="lead">La segunda parte <i>Zona Gamer</i> subire algunas reseñas sobre videojuegos que ya eh jugado o que estoy jugando, puede 
          que no sean muchos o no sean muy recientes, ya que entre mis cosas, solo cuento con una PS3, PS2, PC(no muy buena) y mi celular
          que puede resitir unos juegos buenos de alta potencia. Si gustas ver la reseña de algun juego, puedes escribirme al correo
          que dejo en la parte de abajo.
        </p>
        <p class="lead">Y por ultimo, <i>Sweet Dreams</i>, se preguntaras ¿Pero que es esta fumada? Pues es lo que crees que es, o puede que no.
          Durante mucho tiempo llevaba y llevaba en la mente una historia que siempre modificaba, o pensaba en ideas nuevas, hasta que surgio
          la novela liger y muy ligera que llame <i>"Sweet Dreams"</i> por el momento solo tengo el primer volumen, tomo, capitulo, o como 
          le quieras llamar, con el tiempo empezare a subir todos los capitulos.
      </p>
<a href="https://ibb.co/ThtPR9P"><img src="https://i.ibb.co/VBTMDfM/nier-automata.jpg" style="vertical-align:middle;margin:0px 225px" alt="nier-automata" border="0"></a>
    <p style="text-align: center;"><i>Obra de arte photoshopeada por mi :D</i></p>
    </div>
  </div>
{% endblock %}